{#{% load static %}#}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {#    <link rel="shortcut icon" type="image/png" href="{% static 'tree-boi.png' %}"/>#}
  {#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
  <title>Cocktail Crafter</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="mt-2">Cocktail Crafter</h1>
      <small>For all your cocktail-crafting needs.</small>
      <hr class="mt-1 mb-4">
      <a class="btn btn-primary mb-4 ml-4" href="#" role="button">Add</a>
      <a class="btn btn-primary mb-4 ml-2" href="#" role="button">View</a>
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<footer class="footer fixed-bottom">
  <div class="container text-muted text-right mb-2">
    Built with grudging respect in Philadelphia.
  </div>
</footer>
</body>
</html>
